{% extends 'base.html.twig' %}
{% block stylesheets %}
{{parent()}}
<link href="{{asset('css/custom.css')}}" rel="stylesheet" />
{% endblock %}
{% block body %}
{% block nav %}
    <nav class="navbar navbar-default navbar-fixed-top"">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('homepage') }}">BikeCenter</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('homepage') }}">STRONA GŁÓWNA<span class="sr-only">(current)</span></a></li>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SKLEP<span class="caret"></span></a>
          <ul class="dropdown-menu">
              {% for category in categories %}
              <li><a href="{{ '/shop/'~category.name }}">{{ category.name }}</a></li>
              {% endfor %}
          </ul>
        </li>
        <li><a href="{{ path('about') }}">SERWIS</a></li>
        <li><a href="{{ path('about') }}">KONTAKT</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">konto<span class="caret"></span></a>
          <ul class="dropdown-menu">
          {% if user!=null %}
            <li><a href="{{ path('userPanel') }}">zarządzaj kontem</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ path('cart') }}">koszyk</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ path('checkout') }}">zamów</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">wyloguj</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li role="separator" class="divider"></li>
                <li><a href="/admin">panel administratora</a></li>
              {% endif %}
          {% else %}
            <li><a href="/login">zaloguj</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/register">zarejestruj</a></li>
           {% endif %}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}
<div class="jumbotron">
<div class="container">
<h1>Sklep rowerowy BikeCenter!</h1>
<p><h4>Witamy na stronie internetowej naszego sklepu</h4></p>
<br>
<p><a href="{{ path('about') }}" class="btn btn-primary btn-lg" role="button">więcej o nas</a></p>
</div>
</div>
{% block content %}
{% endblock %}
{% block footer %}
<footer>
<nav class="navbar navbar-default">
<div class="container">
<div class="row">
<div class="col-md-12>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li class="active"><a href="#">strona główna <span class="sr-only">(current)</span></a></li>
<li><a href="#">kontakt</a></li>
</ul>
</div>
</div>
<div class="row">
<div class="col-md-12">
Copyright © <a href="#">Sklep rowerowy BikeCenter</a><br>
realizacja: Karol Skóra
</div>
</nav>
</footer>
{% endblock %}
{% endblock %}
