{% extends "userPanel/UserPanelLayout.html.twig" %}
{% set user = user %}
{% block userPanelContent %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Informacje o użytkowniku</div>
                    <div class="panel-body">
                        <div class="row">nazwa użytkownika:{{ user.username }}</div>
                        <div class="row">imie: {{ user.firstName }}</div>
                        <div class="row">nazwisko: {{ user.lastName }}</div>
                        <div class="row">adres email: {{ user.email }}</div>
                        <div class="row">numer telefonu: {{ user.phoneNumber }}</div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Adres</div>
                    <div class="panel-body">
                        <div class="row">ulica: {{ user.street }}</div>
                        <div class="row">numer: {{ user.number }}</div>
                        <div class="row">miasto: {{ user.city }}</div>
                        <div class="row">kod kocztowy: {{ user.zipCode }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}