{% extends "layout.html.twig" %}
{% set categories = categories %}
{% block content %}
<div class="container">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Nowości</h3>
</div>
<div class="panel-body">
    {%  for product in newProducts %}
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="{{ asset('images/shop/' ~ product.imgSrc ~ '.jpg' ) }}" alt="...">
                <div class="caption">
                    <h5>{{ product.name }}</h5>
                    <p>cena :{{ product.price }} zł</p>
                    <p><a href="{{ '/shop/details/'~product.id}}" class="btn btn-primary" role="button">szczegóły</a></p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Promocje</h3>
</div>
<div class="panel-body">
    {%  for product in sale %}
        <div class="col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="{{ asset('images/shop/' ~ product.imgSrc ~ '.jpeg' ) }}" alt="...">
                <div class="caption">
                    <h5>{{ product.name }}</h5>
                    <p>cena :<s>{{ product.price }} zł </s>  {{ product.newPrice }} zł</p>
                    <p><a href="{{ '/shop/details/'~product.id}}" class="btn btn-primary" role="button">szczegóły</a></p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</div>
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="{{ asset('js/jquery_custom_index.js') }}"></script>
{% endblock %}

