{% extends "main/layout.html.twig" %}
{% set categories = categories %}
{% block content %}
<div class="container">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{{ category }}</h3>
</div>
<div class="panel-body">
    {% for product in products %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('images/shop/' ~ product.imgSrc ~ '.jpg' ) }}" alt="...">
                    <div class="caption">
                        <h3>{{ product.name }}</h3>
                        <p>cena :{{ product.price }} zł</p>
                        <p><a href="{{ '/shop/details/'~product.id}}" class="btn btn-primary" role="button">szczegóły</a></p>
                    </div>
                </div>
            </div>
    {% endfor %}
</div>
</div>
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="{{ asset('js/jquery_custom.js') }}"></script>
{% endblock %}